:root{
    --ttl-font: 'Reggae One', cursive;
    --text-font: font-family: 'Ubuntu', sans-serif;
    --border-color: rgba(255, 222, 222, 0.8);
    --text-color: rgb(75, 51, 0);
}
body{
    width: 1400px;
    background:rgba(250, 240, 228, 0.3);
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: fit-content;
  }
  a {
      text-decoration: none;
      color: var(--text-color)
  }
  .header__wrapper{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: var(--border-color); 
    padding: 10px 20px;
}
.header--logo img{
    width: 100px;
    height: 100px;
    margin: 5px;
}
.header--ttl{
    text-align: center;
    font-family: var(--ttl-font);
    font-size: 14px;
    color: rgb(75, 51, 0);
}
.header--nav{
    width: 100%;    
}
.header--nav ul{
    display: flex;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 400px;     
}
.header--nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: rgb(75, 51, 0);
    text-align: center;
    padding: 14px 16px;
}
.header--nav .active a{
    color: rgba(32, 32, 32, 0.548);
}
.header--nav ul li a:hover{
    color: rgba(75, 51, 0, 0.7);   
}
.hover-text:hover::before{
    content: "🔥";
    text-align: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
main{
    background-color: rgba(255, 222, 222, 0.8);
    margin: 170px 0;
    padding: 30px 15px 100px;
    border-radius: 20px;
}
img{
    display: flex;
    width: 100%;
    object-fit: contain;
}
.content h1{
   font-family: var(--ttl-font);
   font-size: 42px;
   letter-spacing: 0.05ch;
}
.product--ttl{
    font-family: var(--ttl-font);
    font-size: 16px;
    line-height: 2em;
}

.quantity-input{
    font-family: var(--text-font);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.content--products .tabs{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content--products li{
    font-family: var(--ttl-font);
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.02em;
    padding: 20px 95px;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}
.content--products li:hover{
background-color: rgba(165, 165, 165, 0.5);
}
.content--products li:last-child{
    border-right: 1px solid var(--border-color);
}
.content--products li:hover::before{
    content: "🔥";
    text-align: center;
}

thead{
    background: rgba(255, 255, 255, 0.7);
}
th, td {
    padding: 4px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.7);
  }
.center{
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
 tr{    
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

tr:nth-child(2){
    background-color: rgba(167, 167, 167, 0.295);
}
.total {
    background-color: rgba(255, 255, 255, 0.7);
}
.content--details--table{
    width: 100%;
}

.btn__payment {
    display: flex;
    float: right;
    text-decoration: none;
    padding: 10px 50px;
    background-color: rgba(250, 193, 20, 0.6);
    border-radius: 15px;
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 0.2em;
    margin: 25px 0;
}
.btn__payment:hover {
    display: flex;
    float: right;
    text-decoration: none;
    padding: 10px 50px;
    background-color:rgb(155, 205, 210);
    border-radius: 15px;
}
